@media screen and (max-width: 1240px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    display: block;
    margin-top: 5px;
  }
  .main-navbar{
    flex-wrap: wrap;
    padding: 2% 0;
  }
  a.menu{
    font-size: 16px;
  }
  .header_logo-menu{
    display: flex;
    justify-content: space-between;
  }
  .topnav {
    display: flex;
    flex-direction: column;
    margin: 3% 7% 0;
    overflow: visible;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    /* float: right; */
    display: block;
    margin-top: 5px;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    /* float: none; */
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 800px) {
  body {
    position: relative;
    width: 25.875rem;
    height: 736px;
    background: #ffffff;
    padding: 0 10px;
    margin: 0 auto;
  }

  footer {
    margin: 0;
  }

  .header_logo-menu{
    padding: 0;
  }
 
  .header-logo img {
    padding: 1.8vw;
    width: 10.938rem;
    margin-top: 5px;
  }
  button.btn-responsive {
    display: block;
  }
  button.btn-signup.modal-btn {
    position: relative;
    top: -25px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-section {
    height: unset;
    display: block;
    box-shadow: unset;
  }
  .hero-content {
    background: #fff;
    color: #000;
    padding: 20px;
    padding-left: 0px;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .btn-signup {
    display: none;
    left: 29%;
  }
  .hero-headline {
    font-size: 2.5rem;
    white-space: normal;
    margin-bottom: 15px;
  }
  .hero-text {
    width: 80%;
    font-size: 1.4rem;
    position: relative;
    top: 0px;
  }
  .hero-img img {
    width: 100%;
    border-radius: 10px;
    position: relative;
    top: 0;
  }
  .hero-section > .btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }
  .copyrights {
    margin: 30px auto 0;
    text-align: center;
  }
  .content {
    margin: 12% auto;
  }
  .bground {
    background-color: rgba(256, 256, 256, 0);
  }
}

@media screen and (max-width: 540px) {
  
}
